<footer>
    <div class="f-info">
        <div class="f-info-socials"></div>
    </div>
    <div>Wanderlust PRIVATE LIMITED</div>
    <div class="f-info-links">
        <a href="/Privacy">Privacy</a>
        <a href="/Terms">Terms</a>
    </div>
</footer>